/*Глобальные стили*/
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  min-width: 1200px;
  position: relative;
}
.catalog__wrapper {
  background-color: #849d8f;
}
a {
    text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  margin:0;
  padding:0;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
}
.ice {
  border-radius:50%;
}
.container {
  width:1146px;
  margin:0 auto;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  padding-top:8px;
/*Главное меню*/
}
.main__list {
  display: flex;
  margin-left: 10px;
  padding-top:19px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main__item {
  position: relative;
}
.main__link {
  padding:7px 14px;
  border-radius: 20px;
  color:#fff;
  font-weight: bold;
  line-height: 18px;
}
.main__sub-list {
  font-size: 14px;
  line-height: 16px;
  width:143px;
  background-color: #f8f7f4;
  border-radius: 4px;
  box-shadow: 0 15px 30px rgba(50, 50, 50, 0.5);
  display: none;
  position: absolute;
  top:35px;
  left:-5px;
}
.sub__item--caption {
  padding-top:12px;
  padding-bottom: 13px;
  margin-left: 6px;
  margin-right: 6px;
  border-bottom:1px solid #d1d0ce;
  padding-left:15px;
}
.sub__link {
  color:#323232;
  font-weight: 400;
  display: block;
  padding-top:6px;
  padding-bottom:7px;
  padding-left:21px;
}
.sub__link:hover,
.sub__link:focus {
  background-color: #fbded7;
}
.sub__link:active {
  background-color: #f6b5a5;
}
.sub__link.active {
  background-color: #d07058;
  color:#ffffff;
}
.catalog__item:hover > .main__sub-list,
.catalog__item:focus > .main__sub-list {
  display:block;
  animation-name: sub__show;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}
@keyframes sub__show {
  0% {
    transform: translateY(-5px);
    opacity: 0.3;
  }
  20% {
    transform: translateY(0px);
    opacity: 1;
  }
  70% {
    transform: translateY(5px);
  }
  90% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}
.main__link span {
  box-shadow: 0 1px 0 rgba(255,255,255,0.4);
}
.main__link:hover span,
.main__link:focus span,
.main__link:active span {
  box-shadow: none;
}
.main__link:hover,
.main__link:focus {
  padding:7px 14px;
  border-radius: 20px;
  box-shadow: none;
  background-color: #f7f6f3;
  color:#333333;
}
.main__link:active {
  box-shadow: 0 -3px 1px rgba(105, 105, 105, 0.7);
}
.main__link.active {
  background-color: #d07058;
}
.main__link.active span {
  box-shadow: none;
}
/*Пользовательское меню*/
.user__list {
  padding-top: 19px;
  display: flex;
  flex-wrap: wrap;
  width:262px;
  margin-left:auto;
  justify-content: space-between;
}
.user__item {
  position: relative;
}
.user__link--enter,
.user__link--basket,
.user__link--search {
  color:#fff;
  font-weight: 500;
  line-height: 16px;
  font-size:14px;
}
.user__link--search {
  padding:8px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.2);
}
.search__form {
  position: absolute;
  right:0;
  top:35px;
  display:none;
}
.search__wrapper {
  background-color: #f8f7f4;
  padding:20px 15px;
  border-radius: 4px;
}
input::placeholder {
  color:#999;
  font-size:14px;
  font-weight: normal;
}
.search__wrapper input {
  width: 309px;
  padding-top:9px;
  padding-bottom:9px;
  padding-left: 14px;
  border:1px solid #d3d3d2;
  border-radius: 3px;
  font-family:inherit;
  font-weight: bold;
  font-size:16px;

}
.search--pic {
  position: relative;
  top:3px;
}
.search__wrapper input:hover {
  border:1px solid #c7c6c5;
  box-shadow: 0 0 0 1px #c7c6c5;
}
.search__wrapper input:active,
.search__wrapper input:focus {
  border:1px solid #8fbdec;
  box-shadow: 0 0 0 1px #8fbdec;
}
.search__item:hover > .search__form ,
.search__item:focus > .search__form {
  display: block;
  animation-name: sub__show;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}
.user__link--enter {
  padding-left:44px;
  padding-right: 16px;
  padding-top:8px;
  padding-bottom:8px;
  background: rgba(255,255,255, 0.2);
  border-radius: 20px;
  position: relative;
}
.enter__pic {
  position: absolute;
  left:16px;
  top:7px;
}
.entrance__form {
  position: absolute;
  top:35px;
  right:0;
  display: none;
  z-index: 99;
}
.entrance__item:hover > .entrance__form,
.entrance__item:focus > .entrance__form {
  display:block;
  animation-name: sub__show;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}
.entrance__wrapper {
  background-color: #f8f7f4;
  padding:20px 19px;
  border-radius: 4px;
}
.entrance__wrapper input {
  display:block;
  padding-top:9px;
  padding-bottom:9px;
  padding-left: 14px;
  width:239px;
  border:1px solid #d3d3d2;
  border-radius: 3px;
  margin-bottom:20px;
  font-family:inherit;
  font-weight: bold;
  font-size:16px;
}
.entrance__wrapper input:hover {
  border:1px solid #c7c6c5;
  box-shadow: 0 0 0 1px #c7c6c5;
}
.entrance__wrapper input:active,
.entrance__wrapper input:focus {
  border:1px solid #8fbdec;
  box-shadow: 0 0 0 1px #8fbdec;
}
.entrance__button--wrapper {
  display: flex;
  justify-content: space-between;
}
.entrance__help--wrapper {
  display: flex;
  flex-direction: column;
}
.entrance__help span {
  color:#323232;
  box-shadow: inset 0 -1px 0 #adacaa;
  font-size: 13px;
}
.entrance__help:hover span,
.entrance__help:focus span,
.entrance__help:active span {
  color:#e84d37;
  box-shadow: inset 0 -1px 0 #f9cdc4;
}
.entrance__button {
  border:none;
  padding:10px 25px;
  border-radius: 20px;
  cursor: pointer;
  font-size:18px;
  line-height:24px;
}
.user__link--enter:hover,
.user__link--enter:focus,
.user__link--basket:hover,
.user__link--basket:focus,
.user__link--search:hover,
.user__link--search:focus  {
  background-color: #f8f7f4;
  color:#000;
}
.user__link--enter:hover path,
.user__link--enter:focus path,
.user__link--basket:hover path,
.user__link--basket:focus path,
.user__link--basket:hover circle,
.user__link--basket:focus circle,
.user__link--search:hover path,
.user__link--search:focus path {
  fill:#000;
}
.basket__item {
  position: relative;
}
.basket {
  position: absolute;
  top:35px;
  right: 0;
  background-color: #f8f7f4;
  width:540px;
  border-radius: 4px;
  padding:20px 18px;
  display: none;
  z-index: 99;
}
/*Таблица*/
.basket__table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #cacac7;
  margin-bottom: 14px;
  font-size:13px;
  line-height: 16px;
}
.basket__cell {
  vertical-align: top;
  padding-top: 10px;
  text-align: center;
}
.column-1 {
  width: 22px;
}
.column-2 {
  padding-top: 0;
  padding-bottom: 17px;
  width: 33px;
}
.column-3 {
  text-align: left;
  padding-left:13px;
}
.column-4 {
width: 112px;
}
.column-5 {
  width: 82px;
  padding-right: 15px;
}
.basket__cost {
  color:#999999;
}
.basket__row {
  min-height: 53px;
}
.basket__orders--discard {
  position: relative;
  border:none;
  font-size: none;
}
.button__discard {
  cursor: pointer;
}
.basket__orders--discard::before {
  content:"";
  position: absolute;
  width:12px;
  height:1px;
  background-color: #231f20;
  transform: rotate(45deg);
  left:0;
  top:-8px;
}
.basket__orders--discard::after {
  content:"";
  position: absolute;
  width:12px;
  height:1px;
  background-color: #231f20;
  transform: rotate(-45deg);
  left:0;
  top:-8px;
/*Конец таблицы*/
}
.basket__total {
  font-size:15px;
  line-height: 18px;
  padding-right: 14px;
  display:block;
  text-align: right;
  margin-bottom:15px;
}
.basket_btn {
  padding:10px 15px;
  border-radius: 20px;
  border:none;
  float:right;
  font-size:18px;
  line-height:24px;
}
.user__link--basket {
  padding-left:45px;
  padding-right: 34px;
  padding-top:8px;
  padding-bottom:8px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
  position: relative;
}
.user__link--basket.active {
  background-color: #f7f6f3;
  color:#323232;
  position: relative;
  padding-right: 16px;
}
.user__link--basket.active::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 99;
}
.basket__item:hover .active ~ .basket,
.basket__item:focus .active ~ .basket {
  display: block;
  animation-name: sub__show;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}
.user__link--basket.active path,
.user__link--basket.active circle {
  fill:#000;
}
.user__link--basket.active g {
  fill:#e84d37;
}
.basket__pic {
  position: absolute;
  left:16px;
  top:7px;
}
.header__contacts {
  color:#fff;
  display:block;
  text-align: right;
  float:right;
  margin-top:-5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.header__contacts b {
  font-size:22px;
  line-height:24px;
  padding-top:4px;
  display: block;
/*Слайдер*/
}
.slider {
  margin-top:213px;
  padding-top: 100px;
  padding-bottom:43px;
  position: relative;
}
#slide-1:checked ~ .color__wrapper {
  background: url('../img/ice-1.png')  no-repeat top;
  background-color: #849d8f;
  transition: .8s ease;
}
#slide-2:checked ~ .color__wrapper {
  background: url('../img/ice-2.png')  no-repeat top;
  background-color: #8996a6;
  transition: .8s ease;
}
#slide-3:checked ~ .color__wrapper {
  background: url('../img/ice-3.png')  no-repeat top;
  background-color: #9d8b84;
  transition: .8s ease;

}
.best__offer {
  display: none;
  text-align: center;
  font-size:60px;
  line-height: 60.35px;
  color:#fff;
  width:700px;
  padding:0;
  margin:0 auto;
}
.slider__btn {
  font-size:32px;
  line-height: 44px;
  color:#fff;
  font-weight: 500;
  background: linear-gradient(to top, #e74a35, #f26843);
  padding:10px 40px;
  border-radius: 30px;
  position: relative;
  display: inline-block;
  margin-left:50%;
  left:-140px;
  margin-top:29px;
}
input#slide-1:checked ~ .color__wrapper .offer-1,
input#slide-2:checked ~ .color__wrapper .offer-2,
input#slide-3:checked ~ .color__wrapper .offer-3 {
  display: block;
}
input#slide-1:checked ~ .color__wrapper label[for="slide-1"],
input#slide-2:checked ~ .color__wrapper label[for="slide-2"],
input#slide-3:checked ~ .color__wrapper label[for="slide-3"] {
  background-color: #fff;
}
input#slide-1:not(:checked):hover ~ .color__wrapper label[for="slide-1"],
input#slide-2:not(:checked):hover ~ .color__wrapper label[for="slide-2"],
input#slide-3:not(:checked):hover ~ .color__wrapper label[for="slide-3"] {
  background-color: rgba(255,255,255,0.2);
}
.slider__controls {
  position: absolute;
  z-index:100;
  bottom:59px;
}
.slider__control {
  display: inline-block;
  width:18px;
  height:18px;
  background-color: transparent;
  border:2px solid #fff;
  border-radius: 50%;
  margin-right: 4px;
  cursor: pointer;
}
.stock {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.stock__block {
  width: 560px;
  min-height: 229px;
  box-sizing: border-box;
  border-radius: 15px;
  position: relative;
}
.strawberry__block {
  background-image: url('../img/Малиновый_фон.jpg');
  background-repeat: no-repeat;
}
.chocolate__block {
  background-image: url('../img/Шоколадный_фон.jpg');
  background-repeat: no-repeat;
}
.stock__title {
  font-size:35px;
  line-height:41px;
  color:#fff;
  margin:0;
  padding: 0;
  margin-top: 15px;
  margin-left: 19px;
}
.stock__text {
  font-size:18px;
  font-weight: 500;
  color:#fff;
  margin:0;
  padding:0;
  margin-top:16px;
  margin-left: 19px;
  margin-bottom: 80px;
}
.stock__link {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding-top:10px;
  padding-bottom:13px;
  padding-left:22px;
  padding-right:22px;
  border-radius: 25px;
  position: absolute;
  bottom: 25px;
  right: 22px;
}
/*Товары каталога*/
.product {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top:40px;
}
.product__unit {
  width:267px;
  text-align: center;
  position: relative;
  margin-bottom:40px;
}
.main-unit::before {
  content: '';
  position: absolute;
  width:61px;
  height: 61px;
  background:url('../img/hit.svg') center no-repeat;
  left:0;
  top:0;
}
.product__picture--wrapper {
  position: absolute;
  width:293px;
  height:405px;
  background-color: rgba(255,255,255,0.1);
  display:none;
  top:-10px;
  left:-10px;
  border-radius: 5px;
}
.product__unit:hover > .product__picture--wrapper,
.product__unit:focus > .product__picture--wrapper {
  display:block;
}
.product__link {
  font-size:18px;
  color:#fff;
  background: linear-gradient(to top, #e74a35, #f26843);
  padding:10px 14px;
  border-radius:30px;
  display: inline-block;
  margin-top:20px;
  position: absolute;
  bottom:20px;
  left:50px;
  z-index: 9;
}
.product__price {
  position: absolute;
  bottom:48px;
}
.product__price svg {
  position: relative;
  top:4px;
}
.product__price {
  color:#fff;
  font-weight: 500;
  text-shadow: -1px 0px 4px rgba(96, 96, 96, 1);
}
.product__price-value {
  font-size:45px;
  line-height: 45px;
}
.product__weight {
  font-size:30px;
  line-height: 45px;
  text-transform: lowercase;
  margin-left:-2px;
}
.product__title--link {
  display:inline-block;
  padding-top:7px;
  box-shadow: none;
  position: relative;
  z-index: 99;
}
.product__title {
  font-size:16px;
  line-height: 22px;
  color:#fff;
  padding-top: 7px;
  font-weight: 500;
  box-shadow: inset 0 -1px 0 rgba(255,255,255,0.2);
  display:inline;
}
.product__title--link:hover .product__title,
.product__title--link:focus .product__title,
.product__title--link:active .product__title {
  color:#ffbc9e;
  box-shadow: inset 0 -1px 0 rgba(255,188,158,0.5);
}
/*О нас*/
.about {
  width:100%;
  background: url('../img/waffle.jpg');
  border-radius: 15px;
  box-sizing: border-box;
  padding-bottom:25px;
}
.about__text--flex {
  display:flex;
  flex-wrap: wrap;

}
.about__text {
  padding:0;
  margin:0;
  word-wrap: break-word;
  width:480px;
  position: relative;
}
.tex__column-1,
.tex__column-3 {
  padding-top:20px;
  padding-left:78px;
}
.tex__column-1:first-child::before {
  content:"";
  position: absolute;
  width:50px;
  height:50px;
}
.tex__column-2,
.tex__column-4 {
  padding-top:20px;
  padding-left:84px;
}
.tex__column-1::before,
.tex__column-3::before {
  content: "";
  width:50px;
  height:50px;
  position: absolute;
  background-color: #fff;
  left:20px;
  top:8px;
}
.tex__column-1::before {
  background: url('../img/small_ice.svg') center no-repeat;
}
.tex__column-3::before {
  background: url('../img/leaf.svg') center no-repeat;
}
.tex__column-2::before,
.tex__column-4::before {
  content: "";
  width:50px;
  height:50px;
  position: absolute;
  left:27px;
  top:8px;
}
.tex__column-2::before {
  background: url('../img/cow.svg') center no-repeat;
}
.tex__column-4::before {
  background: url('../img/thermometer.svg') center no-repeat;
}
.about__title {
  font-size:24px;
  line-height: 30px;
  padding:0;
  margin:0;
  font-weight: 500;
  padding-top:25px;
  padding-left:20px;
}
/*Блог*/
.blog {
  display:flex;
  justify-content: space-between;
  margin-top:40px;
}
.blog-news,
.blog__subscribe {
  width:560px;
  border-radius: 15px;
}
.blog-news {
  background-image: url('../img/Клубничный_фон.jpg');
  background-position:-27px -224px ;
  padding-bottom:80px;
  background-color: #fff;
}
.news__title {
  margin:0;
  padding:0;
  font-size:16px;
  line-height: 22px;
  font-weight: 500;
  padding-top:22px;
  padding-left:20px;
}
.news__text span {
  box-shadow:inset 0 -2px 0 #353535;
}
.news__text:hover span,
.news__text:focus span {
  box-shadow:inset 0 -2px 0 #f9cdc4;
  color:#e84d37;
}
.news__text {
  color:#323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  display:inline-block;
  margin-top:5px;
  margin-left:20px;
  width:285px;
}
.blog__subscribe {
  background: url('../img/Почтовый-фон.png') 2px;
  background-color: #f8f7f4;
}
.blog__subscribe--layout {
  background-color: #f8f7f4;
  margin:5px;
  border-radius: 15px;
}
.subscribe__text {
  color:#5a5a5a;
  margin:0;
  padding:0;
  padding-top:28px;
  padding-left:23px;
}
.subscribe__form {
  display:flex;
  padding-left:20px;
  padding-right: 20px;
  padding-top:37px;
  padding-bottom:37px;
}
.subscribe__form input {
  width:366px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:14px;
  border:1px solid #d3d3d2;
  border-radius: 3px;
  font-family:inherit;
  font-weight: bold;
  font-size:16px;
}
.subscribe__form input:hover {
  border:1px solid #c7c6c5;
  box-shadow: 0 0 0 1px #c7c6c5;
}
.subscribe__form input:active,
.subscribe__form input:focus {
  border:1px solid #8fbdec;
  box-shadow: 0 0 0 1px #8fbdec;
}
.subscribe__btn {
  font-size:18px;
  line-height: 24px;
  border:none;
  margin-left: 11px;
  padding:9px 20px;
  padding-bottom:11px;
  border-radius: 20px;
}
/*Контакты и карта*/
.find {
  margin-top:38px;
}
.contacts__container {
  position: relative;
  width: 1146px;
  margin: 0 auto;
  padding: 0;
}
.contacts {
  position: absolute;
  top:60px;
  right:0;
  background-color: #fefefe;
  width:251px;
  border-radius: 15px;
  padding-top:15px;
  padding-left:26px;
  padding-right:26px;
  padding-bottom:30px;
}
iframe {
  width: 100%;
  height: 429px;
  border: 0;
}
.contacts p {
  font-size:14px;
  line-height: 20px;
  margin-bottom: 22px;
}
.contacts b {
  font-size:18px;
  line-height: inherit;
  display: block;
  padding-top: 4px;
  padding-bottom: 2px;
}
.contacts__btn {
  font-size:18px;
  line-height: 24px;
  color:#fff;
  padding:11px 27px;
  display:inline-block;
  border-radius: 30px;
  margin-top:6px;
}
/*Футер*/
.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 103px;
  padding-bottom:5px;
}
.social {
  width:186px;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  padding-top:35px;
}
.social__link {
  display: inline-block;
  vertical-align: top;
  width:32px;
  height:32px;
  border:3px solid rgba(255,255,255,0.3);
  border-radius: 50%;
  opacity: 0.7;
}
.social__link:hover,
.social__link:focus {
  opacity: 1;
  border:3px solid rgba(255,255,255,0.5);
}
.social__link:active {
  opacity: 0.8;
  border:3px solid rgba(255,255,255,0.6);
}
.footer-menu {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  width:330px;
  margin-right: auto;
  margin-left:35px;
  padding-top:31px;
  height: 45px;
}
.footer-menu__active {
  font-weight: bold;
  position: relative;
}
.footer-menu__active::before {
  content:"";
  position: absolute;
  width:15px;
  height:15px;
  background: url('../img/heart.svg') no-repeat center;
  top:5.5px;
  left:-22px;
}
.footer-menu__item {
  margin-right: 10px;
}
.footer-menu__link {
  color:#fff;
  font-size:13px;
  line-height: 18px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.4);
}
.footer-menu__link:hover,
.footer-menu__link:focus,
.footer-menu__link:active {
  color:#ffbc9e;
  box-shadow: 0 1px 0 rgba(255,188,158,0.4);
}
.footer-menu__active:hover::before,
.footer-menu__active:active::before,
.footer-menu__active:focus::before {
  background: url('../img/heart-purple.svg') no-repeat center;
}
.copyright {
  padding-top: 20px;
}
.copyright__text {
  font-size:12px;
  line-height: 18px;
  color:#fff;
  padding: 0;
  margin:0;
}
.logo__link:hover path,
.logo__link:focus path,
.logo__link:active path {
  fill:#ffbc9e;
}
/*Хлебные крошки*/
.breadcumbs {
  margin-top:20px;
}
.breadcumbs span {
  color:#e7ebe9;
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
}
.breadcumb {
  font-size:14px;
  line-height: 16px;
  color:#fff;
}
.catalog-header {
  padding:0;
  margin:0;
  font-size:35px;
  line-height: 41px;
  color:#fff;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 0.5px;
}
/*--------------------ФОРМА---------------------------*/
/*Формы сортировки*/
.filters {
  margin-top: 25px;
}
.filters-form {
  display:flex;
  flex-wrap: wrap;
  width:860px;
}
.sorter-field {
  border:none;
  padding:0;
  margin:0;
}
.sorter-field legend {
  padding-left: 14px;
  padding-bottom:7px;
}
.sorter-indicator {
  height: 36px;
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  z-index: 2;
  background-image:url('../img/select-arrow.svg');
  background-repeat: no-repeat;
  background-position:169px 16px;
}
.sorter-indicator select {
  font-size:16px;
  line-height: 18px;
  font-family: inherit;
  color:#fff;
  -webkit-appearance:none;
  -moz-appearance:none;
  padding-left: 13px;
  padding-right: 31px;
  padding-top:8px;
  padding-bottom:8px;
  border:none;
  border-radius:20px;
  text-transform: lowercase;
  cursor: pointer;
  background: transparent;
  position: relative;
  z-index: 2;
  font-weight: 500;
}
.sorter {
  font-size:16px;
  line-height: 18px;
  color:#fff;
  background-color: #a9b9af;
}
.sorter-indicator:hover select,
.sorter-indicator:focus select {
  cursor: pointer;
  color: #323232;
}
.sorter-indicator:hover,
.sorter-indicator:focus {
  background-image:url('../img/select-black-arrow.svg');
  background-repeat: no-repeat;
  background-position:169px 16px;
}
/*Шкала диапазона*/
.range__field {
  margin:0;
  padding:0;
  margin-left: 15px;
  width:218px;
}
.range__price {
  margin:0;
  padding:0;
  padding-bottom: 7px;
  padding-left:12px;
}
.range__controls {
  width:218px;
  height:36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  position: relative;
}
.scale {
  position: absolute;
  width:176px;
  height:4px;
  background-color: rgba(255, 255, 255, 0.4);
  top:17px;
  left:21px;
}
.bar {
  width:98px;
  height:4px;
  background-color: rgba(255, 255, 255, 0.9);
  top:0;
  left:20px;
  position: absolute;
}
.toggle {
  position: absolute;
  width:4px;
  height: 4px;
  border-radius: 50%;
  background-color:#ababab;
  border:8px solid #fff;
  top:9px;
  cursor: pointer;
}
.toggle-min {
  left:35px;
}
.toggle-max {
  right:65px;
}
/*Радио-формы*/
.radio-field {
  margin:0;
  padding:0;
  margin-left: 15px;
}
.radio-field legend {
  margin:0;
  padding:0;
  padding-left:15px;
  padding-bottom: 7px;
}
.radio-wrapper {
  width:415px;
  padding-bottom:10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-sizing: border-box;
  padding-left: 4px;
}
.interface-radio {
  vertical-align: middle;
  display:inline-block;
  padding-top:10px;
  cursor:pointer;
}
.radio-indicator {
  position: relative;
  vertical-align: bottom;
  padding-left:42px;
}
.radio-indicator::before {
  content: "";
  position: absolute;
  width:15px;
  height:15px;
  border-radius: 50%;
  border:4px solid #e6ebe9;
  top:-2.5px;
  left:10px;
}
.interface-radio input:checked ~ .radio-indicator::after {
  content: "";
  position: absolute;
  width:8px;
  height:8px;
  border-radius:50%;
  background-color: #e6ebe9;
  top:5px;
  left:17.4px;
}
.interface-radio input:checked:hover ~ .radio-indicator::after,
.interface-radio input:checked:focus ~ .radio-indicator::after {
  background-color: #fff;
}
.interface-radio input:checked:disabled ~ .radio-indicator::after {
  background-color: rgba(255, 255, 255, 0.2);
}
.radio-indicator:hover::before,
.radio-indicator:focus::before {
  border-color:#fff;
}
.interface-radio input:disabled ~ .radio-indicator::before {
  border-color: rgba(255, 255, 255, 0.2);
}
/*Чекбокс-формы*/
.checkbox-field {
  margin:0;
  padding:0;
  margin-top:12px;
}
.checkbox-field legend {
  padding-top:2px;
  padding-left:15px;
  padding-bottom:7px;
}
.checkbox-wrapper {
  margin:0;
  width:702px;
  padding-top:8px;
  padding-bottom:9px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  padding-left:16px;
  padding-right:19px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.interface-checkbox {
  display:inline-block;
  cursor:pointer;
  text-transform: lowercase;
  position: relative;
  padding-left:32px;
}
.interface-checkbox:nth-child(3n) {
  margin-left: -6px;
}
.checkbox-indicator  {
    display:inline-block;
    position: absolute;
    width:17px;
    height: 17px;
    border:2px solid #e6ebe9;
    left:0;
    top:0;
    border-radius: 2px;
}
.checkbox-indicator:hover,
.checkbox-indicator:focus {
  border:2px solid #fff;
}
.interface-checkbox input:disabled ~ .checkbox-indicator {
  border:2px solid rgba(255, 255, 255, 0.2);
}
.interface-checkbox input:checked ~ .checkbox-indicator::before {
  content:"";
  position: absolute;
  background-color: #e6ebe9;
  width:18px;
  height:3px;
  transform: rotate(-45deg);
  bottom:9px;
  left:4px;
}
.interface-checkbox input:checked ~ .checkbox-indicator::after {
  content:"";
  position: absolute;
  background-color: #e6ebe9;
  width:7px;
  height:3px;
  transform: rotate(45deg);
  bottom:7px;
  left:1px;
}
.interface-checkbox:hover input:checked ~ .checkbox-indicator::before,
.interface-checkbox:hover input:checked ~ .checkbox-indicator::after,
.interface-checkbox:focus input:checked ~ .checkbox-indicator::before,
.interface-checkbox:focus input:checked ~ .checkbox-indicator::after {
  background-color: #fff;
}
.interface-checkbox input:disabled:checked ~ .checkbox-indicator::before,
.interface-checkbox input:disabled:checked ~ .checkbox-indicator::after {
  background-color: rgba(255, 255, 255, 0.2);
}
.filters-form fieldset {
  border:none;
}
.filters-form legend,
.filters-form b {
  font-size:14px;
  line-height: 16px;
  font-weight: bold;
  color:#fff;
}
.radio-field,
.checkbox-field {
  font-size:16px;
  line-height: 18px;
  color:#fff;
  font-weight: bold;
}
.filters-form__btn {
  font-size:16px;
  line-height: 18px;
  color:#fff;
  font-weight: 500;
  background-color: rgba(255,255,255,0.2);
  border-radius: 30px;
  margin-top:36px;
  margin-left:15px;
  padding:0 29px;
  padding-top:6px;
  padding-bottom:9px;
  border:2px solid #fff;
  cursor: pointer;
}
.filters-form__btn:hover,
.filters-form__btn:focus {
  background-color: rgba(255,255,255,0.9);
  color:#353535;
}
.filters-form__btn:active {
  background-color: #eaeaea;
  box-shadow:   0 -2px 2px #6a6b6a;
}
/*--------------------КОНЕЦ ФОРМЫ---------------------------*/
/*Каталог*/
.product--catalog {
  margin-bottom:38px;
}
/*Навигация по странице*/
.paginator {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 167px;
  margin-left: auto;
  margin-bottom: 28px;
  padding-left:22px;
}
.prev-arrow::before {
  content:"";
  width:6px;
  height:6px;
  border-top:2px solid rgba(255,255,255, 0.2);
  border-left:2px solid rgba(255,255,255, 0.2);
  position: absolute;
  left:0;
  top:10px;
  transform: rotate(-45deg);
}
.next-arrow::before {
  content:"";
  width:6px;
  height:6px;
  border-top:2px solid rgba(255,255,255, 0.9);
  border-right:2px solid rgba(255,255,255, 0.9);
  position: absolute;
  right:2px;
  top:10px;
  transform: rotate(45deg);
}
.page-number {
  display: inline-block;
  width: 27px;
  height: 27px;
  box-sizing: border-box;
  padding-top: 4px;
  margin-right:2px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13em;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
}
.page-number.current {
  background-color: #ffffff;
  color:#000;
}
.page-number:not(.current):hover,
.page-number:not(.current):focus  {
  background-color: rgba(255, 255, 255, 0.2);
}
.page-number:not(.current):active {
  background-color: #ffffff;
  color:#000;
}
.paginator a {
  font-size:16px;
  line-height: 18px;
  color:#fff;
}
.catalog__page {
 border-bottom:1px solid rgba(255, 255, 255, 0.2);
}
/*Кнопки*/
.button {
  background: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: inset 0 -2px 1px #ac1000;
  color:#fefefe;
  font-weight: 500;
}
.button:hover,
.button:focus {
  background: linear-gradient(to top, #ec6f5e, #f48569);
}
.button:active {
  background: linear-gradient(to top, #e0603e, #d84732);
  box-shadow: inset 0 2px 1px   #ac1000;
}
